<html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <!-- our css should be placed all other styles so that we can override it  -->
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id="page-heading">
            <i class="fas fa-address-book"></i>
            My Contact List
        </h1>
        <div id="contacts-list-containers">
            <ul>
                <% for(let i of contact_List) {%>
                 <li class="contact">
                     <div class="details">
                     <p><%= i.name%></p>
                     <p><%= i.phone%></p>
                    </div>
                    <div class="delete-button">
                        <a href="/delete-contact/?id=<%= i._id %>">
                            <!-- &name=<%= i.name %> -->
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div>
                 </li>
               <% }%>
            </ul>
        </div>
        <form id="new-contact-form" action="/create-contacts" method="post">
            <input type="text" name="name" placeholder="Enter your name" required>
            <input type="number" name="phone" placeholder="Enter your phone Number" required>
            <button type="submit">Add Contact</button>
        </form>
        <script src="/js/home.js"></script>
    </body>
</html>