<html>
    <head>
        <title><%=title%></title>
        <style>
            h1{
                color: white;
            }
            body{
                margin: 0;
                background-color: midnightblue;
            }
        </style>
       
       </head>
   <body>
       <h1>Welcome to  Profile</h1>
   </body>
</html>